@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  background-color: #131313;
  color: white;
}

img {
  border-radius: 10px;
}

h1, h3, h2 {
  font-family: Roboto;
  text-align: center;
  margin: 20px 0px;
}

h3 {
  text-align: start;
}

p {
  font-family: Montserrat;
  font-size: 15px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.navbar-brand img {
  width: 30%;
  -webkit-animation-name: logo;
          animation-name: logo;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes logo {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logo {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

/*edicion del navegador*/
.navbar {
  padding: 0 !important;
}

.navbar-brand {
  width: 60%;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*fin edicion del navegador*/
.fa-circle-arrow-up {
  position: fixed;
  top: 90%;
  left: 95%;
  z-index: 2;
}

.fa-circle-arrow-up:hover {
  -webkit-animation-name: circle;
          animation-name: circle;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: none;
          animation-iteration-count: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: #777777;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  100% {
    transform: rotate(360deg);
    color: #777777;
  }
}
.go-cat {
  color: white;
  text-decoration: none;
}

/*imagen carrusel*/
.d-block {
  width: 50%;
  margin-bottom: 40px;
  margin-left: 25%;
}

/*edicion de las 3 imagenes*/
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  width: 100%;
  margin: 40px 0;
}
.contenedor .conten-remera {
  display: flex;
  justify-content: center;
}
.contenedor .conten-buzo {
  display: flex;
  justify-content: center;
}
.contenedor .conten-short {
  display: flex;
  justify-content: center;
}
.contenedor .img-remera {
  background-image: url(../img/fotoremera.jpg);
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0%;
  font-weight: bolder;
}
.contenedor .img-buzo {
  background-image: url(../img/fotobuzo.jpg);
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0%;
  font-weight: bolder;
}
.contenedor .img-short {
  background-image: url(../img/fotoshort.jpg);
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0%;
  font-weight: bolder;
}
.contenedor .a-ropa {
  text-decoration: none;
}

/*fin edicion de las 3 imagenes*/
.col-md-4 { /*imagen aside*/
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}
.col-md-4 .img-aside {
  width: 250px;
}

/*Footer*/
footer img {
  width: 80px;
  border-radius: 50%;
  transform: rotate(-20grad);
}
footer p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.1764705882);
  text-align: center;
}

.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-8 .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i {
  margin: 10px;
  font-size: 30px;
  transition: all 0.3s;
  border-radius: 9px;
}

.fa-facebook:hover {
  color: #4267B2;
}

.fa-instagram:hover {
  background: rgb(64, 93, 230);
  background: linear-gradient(180deg, rgb(64, 93, 230) 0%, rgb(225, 48, 108) 35%, rgb(252, 175, 69) 100%);
}

.fa-whatsapp:hover {
  color: #25D366;
}

/*contacto*/
.contac-main {
  height: auto;
}
.contac-main a {
  color: white;
  text-decoration: none;
}
.contac-main h1, .contac-main h2, .contac-main h3 {
  margin: 30px;
}
.contac-main h2 {
  margin: 30px;
}
.contac-main p {
  margin: 20px 10px;
}
.contac-main .contac-p {
  text-align: center;
}
.contac-main .formulario {
  margin-top: 20px;
  margin: 20px 0;
}

/*catalogo*/
.catalogo-h2 {
  margin: 20px;
}

.cat-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cat-contenedor .cat-conten {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.cat-contenedor .cat-conten .cat-cont-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-contenedor .cat-conten .cat-cont-img .cat-img {
  width: 200px;
}
.cat-contenedor .cat-conten .cat-text {
  margin: 5px;
}
.cat-contenedor .cat-conten .cat-text h3 {
  text-align: center;
}
.cat-contenedor .cat-conten .cat-text p {
  text-align: center;
}

/*showroom*/
.show-main section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.show-main section .colum1, .show-main section .colum2, .show-main section .colum3, .show-main section .colum4 {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.show-main section .colum1-5 {
  grid-row: 1;
  grid-column: 1;
  background: rgb(167, 0, 255);
  background: linear-gradient(159deg, rgb(167, 0, 255) 0%, rgb(0, 212, 255) 100%);
  color: white;
  height: 350px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
}
.show-main section .colum1-5 p, .show-main section .colum1-5 h2, .show-main section .colum1-5 ul, .show-main section .colum1-5 li {
  color: white;
  background-color: transparent;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}
.show-main section .colum2-5 {
  grid-row: 1;
  grid-column: 2;
  background: rgb(162, 87, 0);
  background: linear-gradient(158deg, rgb(162, 87, 0) 0%, rgb(255, 228, 17) 100%);
  height: 350px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
}
.show-main section .colum2-5 p, .show-main section .colum2-5 h2, .show-main section .colum2-5 ul, .show-main section .colum2-5 li {
  color: white;
  background-color: transparent;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}
.show-main section .colum3-5 {
  grid-row: 2;
  grid-column: 1;
  background: rgb(121, 218, 39);
  background: linear-gradient(158deg, rgb(121, 218, 39) 0%, rgb(17, 210, 255) 100%);
  height: 350px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
}
.show-main section .colum3-5 p, .show-main section .colum3-5 h2, .show-main section .colum3-5 ul, .show-main section .colum3-5 li {
  color: white;
  background-color: transparent;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}
.show-main section .colum4-5 {
  grid-row: 2;
  grid-column: 2;
  background: rgb(255, 0, 108);
  background: linear-gradient(158deg, rgb(255, 0, 108) 0%, rgb(0, 206, 255) 100%);
  height: 350px;
  width: 400px;
  border-radius: 20px;
  padding: 10px;
}
.show-main section .colum4-5 p, .show-main section .colum4-5 h2, .show-main section .colum4-5 ul, .show-main section .colum4-5 li {
  color: white;
  background-color: transparent;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.274);
}
.show-main section .colum4-5 p {
  display: flex;
  justify-content: center;
}
.show-main section .colum4-5 p iframe {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}
.show-main section h1, .show-main section h2, .show-main section h3 {
  margin: 30px;
}
.show-main section h2 {
  margin: 30px;
}
.show-main section p {
  margin: 0px 10px;
}

/*medias querys*/
@media screen and (max-width: 320px) { /*telefonos de pantallas finas en modo vertical*/
  .d-block {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 15%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    border-radius: 50%;
    top: 90%;
    left: 85%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
  }
  .contenedor .conten-remera {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-buzo {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-short {
    display: flex;
    justify-content: center;
  }
  .contenedor .percha {
    margin: 10px 0;
  }
  .contenedor .img {
    width: 230px;
    height: 230px;
  }
  footer img {
    width: 50px;
  }
  /*contacto*/
  .up-form p {
    text-align: center;
  }
  /*catalogo*/
  .cat-contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }
  /*showroom*/
  .show-main section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .show-main section .colum1, .show-main section .colum2, .show-main section .colum3, .show-main section .colum4 {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .show-main section .colum1-5, .show-main section .colum2-5, .show-main section .colum3-5, .show-main section .colum4-5 {
    height: 500px !important;
    width: 230px !important;
    padding: 0px;
    margin: 0px;
  }
  .show-main section .colum4-5 p iframe {
    width: 200px !important;
    height: 300px !important;
    border-radius: 20px;
  }
  .show-main section .colum1-5 {
    grid-row: 1;
    grid-column: 1;
  }
  .show-main section .colum2-5 {
    grid-row: 2;
    grid-column: 1;
  }
  .show-main section .colum3-5 {
    grid-row: 3;
    grid-column: 1;
  }
  .show-main section .colum4-5 {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (min-width: 320px) and (max-width: 562px) { /*telefonos en modo vertical*/
  .d-block {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 15%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    border-radius: 50%;
    top: 90%;
    left: 88%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
  }
  .contenedor .conten-remera {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-buzo {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-short {
    display: flex;
    justify-content: center;
  }
  .contenedor .percha {
    margin: 10px 0;
  }
  .contenedor .img {
    width: 275px;
    height: 275px;
  }
  footer img {
    width: 50px;
  }
  /*contacto*/
  .up-form p {
    text-align: center;
  }
  /*catalogo*/
  .cat-contenedor {
    display: grid;
    grid-template-columns: 1fr;
  }
  /*showroom*/
  .show-main section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .show-main section .colum1, .show-main section .colum2, .show-main section .colum3, .show-main section .colum4 {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .show-main section .colum1-5, .show-main section .colum2-5, .show-main section .colum3-5, .show-main section .colum4-5 {
    height: 450px !important;
    width: 280px !important;
    padding: 0px;
    margin: 0px;
  }
  .show-main section .colum4-5 p iframe {
    width: 250px !important;
    height: 300px !important;
    border-radius: 20px;
  }
  .show-main section .colum1-5 {
    grid-row: 1;
    grid-column: 1;
  }
  .show-main section .colum2-5 {
    grid-row: 2;
    grid-column: 1;
  }
  .show-main section .colum3-5 {
    grid-row: 3;
    grid-column: 1;
  }
  .show-main section .colum4-5 {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (min-width: 562px) and (max-width: 615px) { /*telefonos en modo horizontal*/
  .d-block {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 20%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    top: 90%;
    left: 90%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
  }
  .contenedor .conten-remera {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-buzo {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-short {
    display: flex;
    justify-content: center;
  }
  .contenedor .percha {
    margin: 10px 0;
  }
  /*contacto*/
  .up-form p {
    text-align: center;
  }
  /*catalogo*/
  .cat-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /*showroom*/
  .show-main section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .show-main section .colum1, .show-main section .colum2, .show-main section .colum3, .show-main section .colum4 {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .show-main section .colum1-5 {
    grid-row: 1;
    grid-column: 1;
  }
  .show-main section .colum2-5 {
    grid-row: 2;
    grid-column: 1;
  }
  .show-main section .colum3-5 {
    grid-row: 3;
    grid-column: 1;
  }
  .show-main section .colum4-5 {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (min-width: 615px) and (max-width: 768px) { /*tabletas pequeñas en modo vertical*/
  .d-block {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 20%;
  }
  .navbar-brand img {
    width: 50%;
  }
  .fa-circle-arrow-up {
    top: 90%;
    left: 90%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
  }
  .contenedor .conten-remera {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-buzo {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-short {
    display: flex;
    justify-content: center;
  }
  .contenedor .percha {
    margin: 10px 0;
  }
  /*contacto*/
  .up-form p {
    text-align: center;
  }
  /*catalogo*/
  .cat-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*showroom*/
  .show-main section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .show-main section .colum1, .show-main section .colum2, .show-main section .colum3, .show-main section .colum4 {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .show-main section .colum1-5 {
    grid-row: 1;
    grid-column: 1;
  }
  .show-main section .colum2-5 {
    grid-row: 2;
    grid-column: 1;
  }
  .show-main section .colum3-5 {
    grid-row: 3;
    grid-column: 1;
  }
  .show-main section .colum4-5 {
    grid-row: 4;
    grid-column: 1;
  }
}
@media screen and (min-width: 769px) and (max-width: 1000px) { /*tablets en modo vertical*/
  .navbar-brand img {
    width: 40%;
  }
  .fa-circle-arrow-up {
    top: 90%;
    left: 90%;
  }
  .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
  }
  .contenedor .conten-remera {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-buzo {
    display: flex;
    justify-content: center;
  }
  .contenedor .conten-short {
    display: flex;
    justify-content: center;
  }
  .contenedor .percha {
    margin: 10px 0;
  }
  /*contacto*/
  .up-form p {
    text-align: center;
  }
  /*catalogo*/
  .cat-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*showroom*/
  .colum1-5, .colum2-5, .colum3-5, .colum4-5 {
    height: 450px !important;
    width: 300px !important;
  }
  .colum4-5 p iframe {
    width: 250px !important;
    height: 300px !important;
    border-radius: 20px;
  }
}/*# sourceMappingURL=estilos.css.map */