@charset "UTF-8";
* {
  background-color: #131313;
  color: white;
  padding: 0%;
  margin: 0%;
}

img {
  border-radius: 10px;
}

h1 {
  font-family: Roboto;
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  font-family: Roboto;
}

h3 {
  text-align: start;
  font-family: Roboto;
}

p {
  font-family: Montserrat;
  font-size: 15px;
}

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
}

.navbar-brand img {
  width: 30%;
  animation-name: logo;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: none;
  animation-play-state: running;
}

@keyframes logo {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
/*edicion del navegador*/
.navbar {
  padding: 0 !important;
}

.navbar-brand {
  width: 60%;
}

.nav-link {
  color: white !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/*fin edicion del navegador*/
.fa-circle-arrow-up {
  position: fixed;
  top: 90%;
  left: 95%;
  z-index: 2;
}

.fa-circle-arrow-up:hover {
  color: rgba(255, 255, 255, 0.233);
  animation-name: circle;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: none;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  50% {
    color: #555555;
  }
  100% {
    transform: rotate(360deg);
    color: #777777;
  }
}
.go-cat {
  color: white;
  text-decoration: none;
}

/*imagen carrusel*/
.d-block {
  width: 50%;
  margin-bottom: 40px;
  margin-left: 25%;
}

/*edicion de las 3 imagenes*/
.row-cols-1 {
  margin: 20px;
}

.card {
  width: 65%;
  transition: all 0.4s;
}

.card:hover {
  width: 70%;
}

.col {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.card-title {
  text-align: center;
}

.row-cols-lg-3 {
  width: 100%;
  margin: 0 !important;
}

/*fin edicion de las 3 imagenes*/
.col-md-4 { /*imagen aside*/
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}
.col-md-4 img {
  width: 65%;
}

/*Footer*/
footer img {
  width: 80px;
  border-radius: 50%;
  transform: rotate(-20grad);
}
footer p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.1764705882);
  text-align: center;
}

.col-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-8 .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i {
  margin: 10px;
  font-size: 30px;
  transition: all 0.3s;
  border-radius: 9px;
}

.fa-facebook:hover {
  color: #4267B2;
}

.fa-instagram:hover {
  background: rgb(64, 93, 230);
  background: linear-gradient(180deg, rgb(64, 93, 230) 0%, rgb(225, 48, 108) 35%, rgb(252, 175, 69) 100%);
}

.fa-whatsapp:hover {
  color: #25D366;
}

/*medias querys*/
@media screen and (max-width: 320px) { /*telefonos de pantallas finas en modo vertical*/
  .d-block {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 15%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    top: 93%;
    left: 85%;
  }
  footer img {
    width: 50px;
  }
  /*contacto*/
  p {
    text-align: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 562px) { /*telefonos en modo vertical*/
  .d-block {
    width: 70%;
    margin-bottom: 40px;
    margin-left: 15%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    top: 93%;
    left: 88%;
  }
  footer img {
    width: 50px;
  }
  /*contacto*/
  p {
    text-align: center;
  }
}
@media screen and (min-width: 562px) and (max-width: 600px) { /*telefonos en modo horizontal*/
  .d-block {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 20%;
  }
  .navbar-brand img {
    width: 60%;
  }
  .fa-circle-arrow-up {
    top: 93%;
    left: 90%;
  }
  /*contacto*/
  p {
    text-align: center;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) { /*tabletas pequeñas en modo vertical*/
  .d-block {
    width: 60%;
    margin-bottom: 40px;
    margin-left: 20%;
  }
  .navbar-brand img {
    width: 50%;
  }
  .fa-circle-arrow-up {
    top: 93%;
    left: 90%;
  }
  /*contacto*/
  p {
    text-align: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1000px) { /*tablets en modo vertical*/
  .navbar-brand img {
    width: 40%;
  }
  .fa-circle-arrow-up {
    top: 93%;
    left: 90%;
  }
  .card {
    width: 50%;
  }
  /*contacto*/
  p {
    text-align: center;
  }
}
/*showroom*/
.show-main {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.show-main .colum1 {
  grid-row: 1;
}
.show-main .colum2 {
  grid-row: 2;
}
.show-main .colum3 {
  grid-row: 3;
}
.show-main h1 {
  margin: 30px;
}
.show-main h2 {
  margin: 30px;
}
.show-main p {
  margin: 0px 10px;
}

/*contacto*/
.contac-main {
  height: auto;
}
.contac-main a {
  color: white;
  text-decoration: none;
}
.contac-main h1 {
  margin: 30px;
}
.contac-main h2 {
  margin: 30px;
}
.contac-main p {
  margin: 20px 10px;
}
.contac-main .contac-p {
  text-align: center;
}
.contac-main .formulario {
  margin-top: 20px;
  margin: 20px 0;
}

/*catalogo*/
.catalogo-h2 {
  margin: 20px;
}

.card-text {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=estilos.css.map */
